[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"

[packages]
SQLAlchemy = "*"
grpcio = "*"
protobuf = "*"
grpc = "*"
typing = "*"



[requires]
python_version = "3.7"
